/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

announcement text 1.7rem 700
primary heading 3.9rem 900
pd review text 1.5rem
stars 2rem
product heading 2.7rem 800

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 02 COLORS
sub headings #cb2831
stars #ffbf00
stars 2 #ffae00
review stars #f8c101
accents #19af42
border color #0c9230
main #5b268c
border #9a2dba
copy text #cebedd
background #fffedb
text,headings #000
background #fff
default text #333
stock info border #5e5e5e
stock info background color #fff1c6
featured in gradient #cacaca
- Primary:
- Tints:
- Shades: 
- Accents:
- Greys

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

btw sections 4.8rem

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #333;
}

/*****************************************/
/* GENERAL REUSABLE COMPONENTS */
/*****************************************/

.container {
  max-width: 120rem;
  margin: 0 auto;
}

strong {
  font-weight: 700;
}

/*****************************************/
/* HEADER SECTION */
/*****************************************/

.header {
  margin-bottom: 4.8rem;
  background-color: #000;
}

.banner {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 4.8rem;
}

.logo-img {
  width: 142px;
}

.made-in-img {
  width: 209.5px;
}

.announcement {
  background-color: #19af42;
  display: flex;
  justify-content: center;
}

.announcement-text {
  padding: 0.8rem 0;
  font-size: 1.7rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
}

/*****************************************/
/* HELPER CLASSES */
/*****************************************/

.row-stretch {
  grid-column: 1 / -1;
}

/*****************************************/
/* HERO PRODUCT SECTION */
/*****************************************/

.hero-product-container {
  max-width: 100rem;
  margin: 0 auto;
}

.heading-primary {
  text-align: center;
  font-size: 3.9rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: #000;
}

.header-product {
  margin-bottom: 4.8rem;
}

.hero-product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  margin-bottom: 4rem;
}

.product-img-box {
  display: flex;
  align-items: center;
  justify-content: right;
}

.product-img {
  width: 100%;
}

.pd-review-text {
  font-size: 1.5rem;
  margin-bottom: 1.6rem;
}
.stars {
  color: #ffbf00;
  font-weight: 700;
  font-size: 2rem;
}

.product-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 2.7rem;
  color: #000;
  font-weight: 800;
  letter-spacing: -1px;
  line-height: 1.2;
  margin-bottom: 2.4rem;
}

.product-features-list {
  list-style: none;
  font-size: 2rem;
  line-height: 1.4;
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 1.6rem;
}

.pf-list-item {
  display: flex;
  align-items: flex-start;
  gap: 0.6rem;
}

.checkmark-icon {
  width: 2.2rem;
  height: 2.2rem;
}

.btn {
  text-decoration: none;
  background-color: #19af42;
  color: #fff;
  font-family: "Rubik", sans-serif;
  text-align: center;
  display: inline-block;
  border: 2px solid #0c9230;
  border-radius: 1rem;
  cursor: pointer;
}

.btn--hero {
  width: 100%;
  font-size: 2.6rem;
  font-weight: 700;
  padding: 1.7rem 2rem;
  margin-bottom: 1.6rem;
}

.btn-content {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.btn-main-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.btn-sub-text {
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 300;
}

.btn-icon {
  width: 2.6rem;
  height: 2.6rem;
}

.product-stock-info {
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  border: 1px dashed #5e5e5e;
  background-color: #fff1c6;
  margin-bottom: 2rem;
  text-align: center;
  line-height: 2rem;
  font-family: "Work Sans", sans-serif;
}

.payment-img-box {
  text-align: center;
}
.payment-img {
  width: 254px;
}

.stars-2 {
  font-size: 2.4rem;
  line-height: 1.5;
  color: #ffae00;
  font-weight: 700;
}

.featured-testimonial-box {
  text-align: center;
  margin-bottom: 8rem;
  font-size: 1.8rem;
  color: #5b268c;
  line-height: 1.5;
}

.ft-author {
  font-weight: 700;
}

/*****************************************/
/* FEATURED IN SECTION */
/*****************************************/

.section-featured-in {
  display: flex;
  justify-content: center;
  padding-bottom: 8rem;
  background-image: linear-gradient(180deg, #fff, #cacaca);
}

/*****************************************/
/* WHAT IS SECTION */
/*****************************************/

.section-what-is {
  background-color: #cebedd;
  padding: 8rem 0;
  border-bottom: 5px solid #9a2dba;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.41),
      rgba(98, 13, 19, 0.65) 60%,
      rgba(154, 45, 186, 0.13)
    ),
    url(/img/ban1.jpg);
  background-position: 0 0, 50% 50%;
  background-size: auto, cover;
}

.what-is {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6.4rem;
  align-items: center;
  margin-bottom: 4.8rem;
}

.wi-video {
  width: 94%;
  justify-self: right;
}

.what-is-heading {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 43px;
  line-height: 47px;
  font-style: italic;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}

.what-is-text {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
}

.what-is-cta {
  display: flex;
  justify-content: center;
}

.btn--buy {
  width: 50rem;
  font-size: 26px;
  line-height: 31px;
  font-weight: 700;
  padding: 19px 15px;
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

/*****************************************/
/* FOOTER SECTION */
/*****************************************/

.footer {
  background-color: #000;
  display: flex;
  justify-content: center;
}

.footer-logo {
  width: 156px;
}

.footer-logo-box {
  margin-bottom: 2.5rem;
}

.ssl-img {
  width: 234px;
}

.footer-container {
  padding: 6rem 0;
  text-align: center;
}

.footer-link:link,
.footer-link:visited {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #cebedd;
  text-decoration: none;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #fff;
}

.copy-text {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #cebedd;
  margin-bottom: 1rem;
}

.footer-link::after {
  content: "  |  ";
  color: #fff;
}

.footer-link:last-child::after {
  content: "";
}
